# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.BattleShips.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\mostafa\BattleShips\.idea\.idea.BattleShips\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
